page-criar-noticia {
  ion-item {
    background-color: map-get($colors, primary) !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
  .scroll-content ion-item:nth-child(3) {
    min-height: 15rem;
    height: 70%;
  }

  //ion-label.label[floating] {
  //  color: #ffffff !important;
  //  opacity: 0.9;
  //}
  //ion-label.label[floating] {
  //  color: #ffffff !important;
  //  opacity: 0.9;
  //}
  .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: map-get($colors, highlight) !important;
    -webkit-box-shadow: inset 0 -1px 0 0 map-get($colors, highlight) !important;
    box-shadow: inset 0 -1px 0 0 map-get($colors, highlight) !important;
  }
  ion-item.item-input-has-focus {
    .item-inner  {
      border-bottom-color: map-get($colors, dark) !important;
      -webkit-box-shadow: inset 0 -1px 0 0 map-get($colors, dark) !important;
      box-shadow: inset 0 -1px 0 0 map-get($colors, dark) !important;
      opacity: 0.9;
    }
    .label[floating] {
      color: map-get($colors, dark) !important;
      opacity: 0.9 !important;
    }
  }
  .textarea.text-input {
    height: 85%;
  }
  ion-footer {
    button {
      background-color: map-get($colors, light) !important;
      width: 100%;
      height: 5rem !important;
      margin: 0 !important;
      label {
        color: white !important;
        padding-right: 0.75rem;
        font-size: 2rem;
      }
      ion-icon {
        color: white !important;
        padding-left: 0.75rem;
        font-size: 2rem;
      }
    }
  }
}
