page-criar-noticia {
  ion-item {
    background-color: #dcd9e4 !important;
  }
  //ion-label.label[floating] {
  //  color: #ffffff !important;
  //  opacity: 0.9;
  //}
  //ion-label.label[floating] {
  //  color: #ffffff !important;
  //  opacity: 0.9;
  //}
  //.item-inner {
  //  border-bottom-color: #ffffff !important;
  //  opacity: 0.9;
  //}
  button {
    background-color: #9c97c0 !important;
    width: 100%;
    height: 5rem !important;
  }
}
