<ion-header>
  <ion-navbar>
    <ion-title>Notícias</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="recarregarDados($event)">
    <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="noticias && noticias.length > 0; else semNoticias">
    <ion-item *ngFor="let item of noticias" (click)="aoClicarNoticia(item)">
      <div class="cabecalho">
        <div class="container-titulo">
          <h1>{{ item.titulo }}</h1>
          <button (click)="apresentarAcoes($event, item)">
            <ion-icon name="more"></ion-icon>
          </button>
        </div>
        <h3>{{ item.nomeAutor }}</h3>
      </div>
      <img *ngIf="item.imagemBase64" src="{{ item.imagemBase64 }}">
      <p>{{ item.texto }}</p>
    </ion-item>
  </ion-list>

  <ng-template #semNoticias>
    <p class="texto-sem-noticia"> Nenhuma notícia a ser exibida. </p>
  </ng-template>
<!--  <ion-infinite-scroll threshold="100px" (ionInfinite)="carregarMaisNoticias($event)" *ngIf="noticias && noticias.length > 0">-->
<!--    <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>-->
<!--  </ion-infinite-scroll>-->
</ion-content>
