page-pesquisa {
  button {
    margin: 0 !important;
    label.label-publicar {
      padding-right: 1rem !important;
    }
  }
  ion-searchbar {
    padding: 0 !important;
    input.searchbar-input {
      background-color: rgba(255,255,255,0.9) !important;
    }
  }
}
